/* 
token based in pixel perfect values from 
https://www.figma.com/community/file/1150677865238709221/liz-design-token
*/

:root {
  --fs-25: 10px;
  --fs-50: 12px;
  --fs-100: 15px;
  --fs-200: 19px;
  --fs-300: 23px;
  --fs-400: 29px;
  --fs-500: 37px;
  --fs-600: 46px;

  --fw-25: 100;
  --fw-50: 200;
  --fw-100: 300;
  --fw-200: 400;
  --fw-300: 500;
  --fw-400: 600;
  --fw-450: 700;
  --fw-500: 800;
  --fw-600: 900;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1400px;
}
