RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d       
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|mp3|wav|ogg)$

RewriteRule ^(.+)$ index.php [QSA,L]
