.dy_flex {
  display: flex;
}

.dy_column {
  flex-direction: column;
}

.dy_content-item-centeralize {
  justify-content: center;
  align-items: center;
}

.dy_align-items-center {
  align-items: center;
}

.dy_align-items-end {
  align-items: flex-end;
}

.dy_align-items-start {
  align-items: flex-start;
}