.dy-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 20px !important;
  height: 20px;
  border-radius: 4px;

  border-color: var(--gray-300);
  border-width: 1px;
  border-style: solid;

  background-color: var(--checkbox-bk);

  &:checked {
    border-color: var(--brand-500);
    background-color: var(--brand-500);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }
}