@use '../functions/color.fun.scss' as colorFunctions;

@mixin register-theme-colors($colors) {
  @each $name, $hex in $colors {    
    $hex-var-name: '--#{$name}';
    $rgb-var-name: '--#{$name}-rgb';
    $rgb-value: colorFunctions.hex-to-rgb-string($hex);
    
    #{$hex-var-name}: #{$hex};
    #{$rgb-var-name}: $rgb-value
  }
}


@mixin generate-class-color($list) {
  @each $variable, $value in $list {
    .dy_color-#{$variable} {
      color: var(--#{$variable});
    }
  }
}